<?xml version="1.0"?>

<model>
  <name>Multi Point Robot model</name>
  <version>1.0</version>
  <sdf version='1.5'>multiPointRobot.sdf</sdf>

  <author>
    <name>Daniel Katzav</name>
    <email>katzavdaniel@gmail.com</email>
  </author>

  <description>
    Basic rocket model to get it going
  </description>
</model>